*{
    font-family: Ubuntu;
}
.container{
    border: 2px solid;
    height: 3444px;
}
.box{
    border: 2px solid violet;
    width: 150px;
    height: 150px;
    margin: 2px;
    display: inline-block;
}

#box1{
    position: static;
}
#box2{
    background-color: red;
    position: relative;
    top: 34px;
    left: 34px;
}
#box3{
    background-color: blueviolet;
    position: absolute;
    top: 50px;
    left: 50px;
}
#box4{
    /* fixed - relative to browser window */
    position: fixed; 
    right: 10px;
}